<div class="container">
  <mat-card>
    <mat-card-content>
      <h3 class="title">Proceed with tab to haverest data</h3>
      <mat-tab-group class="demo-tab-group">

        <mat-tab>
          <ng-template mat-tab-label><i class="fab fa-linkedin icon tab__icon"></i>LinkedIn</ng-template>
          <app-linked-in-tab></app-linked-in-tab>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label><i class="fab fa-twitter-square icon tab__icon"></i>Twitter</ng-template>
          <app-twitter-tab></app-twitter-tab>
        </mat-tab>

      </mat-tab-group>
    </mat-card-content>
  </mat-card>

</div>
