@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 5px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

div[role=tab] {
  width: 50%;
}

.mat-chip-list-wrapper {
  display: inline !important;
}

#limitRecords, #selectUser {
  width: 305px !important;
}
